/target/
/unity/Library/
/unity/Logs/
/unity/Temp/
/unity/Obj/
/unity/Build/
/unity/Builds/
/unity/UserSettings/
/unity/MemoryCaptures/
/unity/.vs/
/unity/*.csproj
/unity/*.sln
/godot/.godot/
/godot/bin/
/godot/obj/
/tauri/node_modules/
/tauri/dist/
/tauri/src-tauri/target/
/cef/build/
/webview2/build/
/dioxus/target/
/leptos/target/
/wasm/pkg/
/wasm/target/
/v8-blink/build/
/browserffi/build/
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db
